@model ModelContact

@{
    ViewData["Title"] = "Add Contact";
}

<div class="text-center">
    <h1 class="display-4">Add New Contact</h1>
</div>

<form asp-controller="Contact" asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" name="Name" class="form-control" placeholder="Enter name"/>
        @Html.ValidationMessageFor(passed_contact => passed_contact.Name)
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" asp-for="Email" name="Email" class="form-control" placeholder="Enter email"/>
        @Html.ValidationMessageFor(passed_contact => passed_contact.Email)
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" asp-for="Contact" name="Contact" class="form-control" placeholder="Enter phone"/>
        @Html.ValidationMessageFor(passed_contact => passed_contact.Contact)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index" role="button">Back</a>
</form>


